<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="div1"></div>
    <div class="box1"></div>
    <div class="box2"></div>
    <div class="box3_1"></div>
    <div class="box3_2"></div>

    <div class="radius_test1"></div>
    <div class="radius_test2"></div>
    <div class="clear"></div>
    <div class="sanjiao_demo"></div>
    <div class="sanjiao_t1"></div>
    <div class="sanjiao_t2"></div>
    <hr>
    <div class="box4"></div>
    <ul class="list">
        <li><a href="">这是一段文字</a><span>2014-11-26</span></li>
        <li><a href="">这是一段文字</a><span>2014-11-26</span></li>
        <li><a href="">这是一段文字</a><span>2014-11-26</span></li>
        <li><a href="">这是一段文字</a><span>2014-11-26</span></li>
        <li><a href="">这是一段文字</a><span>2014-11-26</span></li>
        <li><a href="">这是一段文字</a><span>2014-11-26</span></li>
    </ul>
</body>
</html>